<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8" />
    <title>审批流</title>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.0/vconsole.min.js"></script> -->
    <meta
      name="viewport"
      id="scale-viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div id="root"></div>

    <script type="text/javascript" src="/tfApproveH5/fastclick.min.js"></script>
    <script>
      function flex(baseFontSize, fontscale) {
        var _baseFontSize = baseFontSize || 100;
        var _fontscale = fontscale || 1;
        var win = window;
        var doc = win.document;
        var ua = navigator.userAgent;
        var matches = ua.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i);
        var UCversion = ua.match(/U3\/((\d+|\.){5,})/i);
        var isUCHd =
          UCversion && parseInt(UCversion[1].split('.').join(''), 10) >= 80;
        var isIos = navigator.appVersion.match(/(iphone|ipad|ipod)/gi);
        var dpr = win.devicePixelRatio || 1;
        if (!isIos && !(matches && matches[1] > 534) && !isUCHd) {
          // 如果非iOS, 非Android4.3以上, 非UC内核, 就不执行高清, dpr设为1;
          dpr = 1;
        }
        var scale = 1 / dpr;

        var metaEl = doc.querySelector('meta[name="viewport"]');
        if (!metaEl) {
          metaEl = doc.createElement('meta');
          metaEl.setAttribute('name', 'viewport');
          doc.head.appendChild(metaEl);
        }
        metaEl.setAttribute(
          'content',
          'width=device-width,user-scalable=no,viewport-fit=cover,initial-scale=' +
            scale +
            ',maximum-scale=' +
            scale +
            ',minimum-scale=' +
            scale
        );
        doc.documentElement.style.fontSize =
          (_baseFontSize / 2) * dpr * _fontscale + 'px';
        doc.documentElement.setAttribute('data-dpr', dpr);
        window.viewportScale = dpr;
      }
      // flex(100, 1);

      // 一些手机一定要加载这个，要不然有兼容问题
      // if(!window.Promise || typeof Set === 'undefined') {
      document.writeln(
        '<script src="/tfApproveH5/polyfill.min.js"' +
          '>' +
          '<' +
          '/' +
          'script>'
      );
      // }
      /**
       * 设置HTML字体
       *
       */
      function setHtmlFontSize() {
        // html的样式对象
        let htmlStyle = document.getElementById('html').style;

        // 可见区域宽度
        let visibleWidth = document.body.offsetWidth;
        // alert(visibleWidth)
        // if (visibleWidth >= 740) {
        //     // ipad 768
        //     htmlStyle.fontSize = "60px";
        // } else if (visibleWidth >= 390) {
        //     // 6 plus
        //     htmlStyle.fontSize = "55px";
        // } else
        if (visibleWidth >= 350) {
          // 6
          htmlStyle.fontSize = '50px';
        } else if (visibleWidth >= 300) {
          // 5
          htmlStyle.fontSize = '45px';
        }
      }
      setHtmlFontSize();
    </script>
    <script>
      // let vConsole = new VConsole();
      var isDev = location.href.indexOf('test.tf56.com') > -1;

      // 开发环境
      // if(isDev) {
      //   document.writeln('<script src="refresh.js"' + '>' + '<' + '/' + 'script>');
      //   document.writeln('<script src="alloy_lever.js"' + '>' + '<' + '/' + 'script>');
      // }

      if ('addEventListener' in document) {
        window.addEventListener(
          'load',
          function () {
            FastClick.attach(document.body);
          },
          false
        );
      }
    </script>
  </body>
</html>
